a {
  text-decoration: none;
}

mat-card-title {
  color: black;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: medium;
}

mat-card {
  position: relative;
  width: 275px;
  height: 175px;
  padding: 1rem;
}

mat-card-actions {
  position: absolute;
  bottom: 0;
  left: 0;
}

.story-card {
  margin: 0.5rem;
  transition: all;
  transition-duration: 200ms;
}